html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 1;
    color: $default;
    @extend %dmsans-700px;
    letter-spacing: 0.6px;
    display: flex;
    flex-direction: column;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.title {
    @extend %title;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.breadcrumbs {
    background-color: #edf1f4;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 110px;
    &__title {
        font-size: 36px;
        color: #222933;
        margin-bottom: 10px;
        padding-right: 35px;
        @extend %rubik-300px;
    }
    &__list {
        display: flex;
        justify-content: center;
    }
    &__item {
        padding-right: 10px;
        color: #979ba0;
        position: relative;
        &:last-child {
            color: #fcd7b6;
        }
        &:last-child::after {
            display: none;
        }
    }
    &__link {
        font-size: 14px;
        line-height: 1.7;
        color: inherit;
        &:hover {
            color: #fcd7b6;
        }
    }
    &__delimiter {
        padding-left: 10px;
    }
}

.pagination {
    padding: 85px 0 135px;
    &__list {
        display: flex;
        justify-content: center;
    }
    &__item {
        margin-right: 15px;
    }
    &__link {
        padding: 15px;
        border: 1px solid #a3bbc8;
        &:hover {
            background-color: $ac;
        }
    }
    .pagination__link--active {
        background-color: #a3bbc8;
        color: #ffffff;
    }
}

.product-item-link {
    background-color: #fefefe;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    margin-right: 12px;
    background-repeat: no-repeat;
    &:hover path {
        fill: #ffffff;
    }
    &:hover {
        background-color: #a3bac7;
    }
    &:last-child {
        margin-right: 0px;
    }
}