@media (max-width: 1800px) {
    .trendy {
        &__inner {
            &::after {
                right: -50px;
                width: 550px;
                height: 570px;
                top: -110px;
            }
        }

        &__info {
            padding: 215px 90px 245px 90px;
            background-color: $ac;
        }

        &__text {
            margin-right: 40px;
        }

        &__text span {
            font-size: 50px;

        }

        &__img {
            max-width: 550px;
            /*height: 230px;*/
        }
    }

    .services {
        &__item {
            padding: 45px 65px 40px 120px;

            &::before {
                left: 50px;
            }
        }
    }
/*
    .description-products {

        &__items {
            justify-content: center;

        }

        &__item {
            padding: 85px 50px 80px 230px;

        }

        &__img {

            top: 60px;
            left: 35px;
            max-width: 233px;
            height: 275px;

        }
    }*/
}

/*--------------------------------------------------------------------------------*/
/*p115*/
@media (max-width: 1200px) {


    .logo {
        z-index: 10;
    }

    .menu {
        order: 1;

        /*падинги не адаптировал !!!*/
        &__items {
            transform: translateY(-200%);
            position: absolute;
            top: 0px;
            width: 100%;
            left: 0;
            flex-direction: column;
            align-items: center;
            z-index: 5;
            background-color: #edf1f4;
            transition: transform 1s;
            padding: 115px 0 20px;

            &.menu__items--active {
                transform: translateY(0%);
            }
        }

        &__link {
            font-size: 24px;
        }

        &__item {
            padding: 10px;
        }

        &__item:not(:last-child) {
            margin-right: 0px;
        }

        &__btn {
            margin-left: 40px;
            margin-right: 10px;
            width: 30px;
            height: 22px;
            position: relative;
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: transparent;
            padding: 0;
            z-index: 10;
            order: 1;

            span {
                height: 3px;
                width: 100%;
                background-color: #000000;
            }

            &::before,
            &::after {
                position: absolute;
                content: '';
                height: 3px;
                width: 100%;
                background-color: #000000;
            }

            &::before {
                content: '';
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }

        &__bottom {
            padding-bottom: 50px;
            justify-content: space-between;
        }
    }

    .nav {
        margin-left: auto;
    }

    .trendy {
        &__inner {
            &::after {
                width: 515px;
                right: -40px;
                top: -85px;
                height: 535px;
            }
        }

        &__img {

            max-width: 455px;
            margin-right: 0;
        }

        &__info {
            padding: 150px 90px 200px 50px;
        }
    }

    .services {
        &__item {
            padding: 45px 20px 40px 95px;

            &::before {
                left: 20px;
            }
        }

        &__items {
            justify-content: center;
        }
    }

    .week-products {
        /*проверить все отступы в низ*/



        &__content {
            justify-content: center;
        }

        &__list {

            transform: translateY(0%);

        }
    }
/**
    .description-products {
        &__items {
            display: block;
        }

        &__item {
            &:not(:last-child) {
                margin-right: 0px;
            }
        }
    }*/
}

/*--------------------------------------------------------------------------------*/
@media (max-width: 992px) {
    .trendy {

        &__inner {
            &::after {
                width: 420px;
                right: -40px;
                top: -35px;
                height: 438px;
            }
        }

        &__img {
            max-width: 300px;
        }

        &__info {
            padding: 100px 90px 150px 50px;
        }

        &__text span {
            font-size: 45px;
            max-width: 430px;
        }
    }

    .week-products__item:hover .week-products__list {

        transform: translateY(400%);
    }
}

/*--------------------------------------------------------------------------------*/
@media (max-width: 768px) {
    .menu {
        &__btn {
            order: 1;
            margin-left: 20px;
        }
    }

    .nav {
        margin: 0 auto;
    }

    .logo {
        margin-right: 20px;
    }

    .trendy {

        &__inner {
            display: block;

            &::after {
                display: none;
            }
        }

        &__img {
            height: 200px;
            margin: 0 auto;
        }

        &__info {
            padding: 50px 50px 50px 50px;
        }

        &__text {
            margin-right: 0px;
        }

        &__text span {
            max-width: 100%;
            text-align: center;
        }

        &__text p {
            max-width: 100%;
            font-size: 17px;
        }

        &__link {
            display: flex;
            margin: 0 auto;
            max-width: 205px;
        }

    }


}

/*--------------------------------------------------------------------------------*/
@media (max-width: 575px) {

    .menu {
        &__btn {
            order: 0;
        }
    }

    .nav {
        margin-top: 20px;
        order: 0;

        &__item {
            &--heart {
                width: 75px;
            }

            &--basket {
                width: 75px;
            }
        }
    }

    .logo {
        margin-right: 50px;
    }

    .trendy {
        padding-top: 145px;

        &__inner {
            margin-top: 0;
        }

        &__info {
            padding: 10px 10px 70px 10px;
        }

        &__img {
            max-width: 240px;
            margin: 0 auto;
            height: 100px;
        }

        &__text span {
            margin-bottom: 20px;
            font-size: 28px;
        }

        &__text p {
            margin-bottom: 20px;
        }

        &__link {
            margin-bottom: 20px;
        }
    }

    /*проверить потом все отступы в низ*/
    .services {
        &__item {
            padding: 20px 20px 20px 85px;

            &::before {
                left: 10px;
            }
        }


    }

    .title {
        font-size: 28px;
    }

    .filters {
        overflow: scroll;
        margin-bottom: 20px;
    }
}