@media (max-width: 1800px) {
    /*
    .trendy {
        &__inner {
            padding: 215px 90px 245px 150px;
        }

        &__text span {
            font-size: 60px;
        }

        &__img {
            max-width: 500px;
        }

        &__content {
            &::after {
                right: 0px;
            }
        }
    }*/
}

/*--------------------------------------------------------------------------------*/
@media (max-width: 1200px) {
    .logo {
        z-index: 10;
    }

    .menu {
        order: 1;

        /*падинги не адаптировал !!!*/
        &__items {
            transform: translateY(-200%);
            position: absolute;
            top: 0px;
            width: 100%;
            left: 0;
            flex-direction: column;
            align-items: center;
            z-index: 5;
            background-color: #edf1f4;
            transition: transform 1s;
            padding: 115px 0 20px;

            &.menu__items--active {
                transform: translateY(0%);
            }
        }

        &__link {
            font-size: 24px;
        }

        &__item {
            padding: 10px;
        }

        &__item:not(:last-child) {
            margin-right: 0px;
        }

        &__btn {
            margin-left: 40px;
            margin-right: 10px;
            width: 30px;
            height: 22px;
            position: relative;
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: transparent;
            padding: 0;
            z-index: 10;
            order: 1;

            span {
                height: 3px;
                width: 100%;
                background-color: #000000;
            }

            &::before,
            &::after {
                position: absolute;
                content: '';
                height: 3px;
                width: 100%;
                background-color: #000000;
            }

            &::before {
                content: '';
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }

        &__bottom {
            padding-bottom: 50px;
            justify-content: space-between;
        }
    }

    .nav {
        margin-left: auto;
    }
}

/*--------------------------------------------------------------------------------*/
@media (max-width: 992px) {}

/*--------------------------------------------------------------------------------*/
@media (max-width: 768px) {
    .menu {
        &__btn {
            order: 1;
            margin-left: 20px;
        }


    }

    .nav {
        margin: 0 auto;
    }

    .logo {
        margin-right: 20px;
    }

}

/*--------------------------------------------------------------------------------*/
@media (max-width: 575px) {

    .menu {


        &__btn {
            order: 0;
        }


    }

    .nav {
        margin-top: 20px;

        &__item {
            &--heart {
                width: 75px;
            }

            &--basket {
                width: 75px;
            }
        }
    }

    .logo {
        margin-right: 20px;

    }
}