$accent: #fcd7b6;
$default: #243f4d;
$title: #436372;
%dmsans-700px {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}

%dmsans-500px {
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}


/*@extend*/

%dmsans-400px {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}

%poppins-700px {
    font-family: 'Poppins-Bold', sans-serif;
    font-weight: 700;
}

%rubik-500px {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%rubik-400px {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%btn {
    background-color: #a3bbc8;
    display: flex;
    align-items: center;
    color: #ffffff;
    @extend %rubik-500px;
}


/*@extend %btn*/


/*
@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}*/