$ac: #fcd7b6;

/*accent*/

$antique:#fde7d3;
$default: #243f4d;
$title: #436372;
$Cream: #feefe2;
$Crayola: #c2d2db;
$red: #e72828;
$orange: #ffa500;
$blue1: #4c636e;
$blue2: #1638cc;
$blue3: #234969;
$blue4: #a3bbc8;
$blue5: #436372;
$black: #000000;
$black: #414141;
$black: #333333;
$white1: #191919;
$white2: #eef2f5;
$white3: #fef7f0;
$white4: #e8e4df;
$white5:#fefefe;
$white6:#fafafa;
$white7:#dae4e9;
$white8:#e5e5e5;
$white9:#fbfbfb;
$white10:#fffefe;
$white11: #f2f2f2;
$white12:#f8f8f8;
$white13:#ffffff;
$white14: #edf1f4;
$white15:#ebeef3;
$grey1:#4c4c4c;
$grey2:#666666;
$grey3:#585858;
$grey4:#69778a;
$grey5:#e0e0e0;
$grey6: #9a9a9a;
$grey7:#ebebeb;
$grey8:#b8b8b8;
$grey9: #999999;

/*@extend %rubik-400px;*/


/*@extend %poppins-700px;*/


/*@extend %rubik-700px;*/


/*@extend %rubik-500px;*/

$dmsans: 'DMSans',
sans-serif;

/*лутьше использовать переменые */

$poppins: 'Poppins',
sans-serif;
$rubik: 'Rubik',
sans-serif;
%dmsans-700px {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}

%dmsans-500px {
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}

%dmsans-400px {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}

%poppins-600px {
    font-family: 'Poppins-SemiBold', sans-serif;
    font-weight: 600;
}

%poppins-700px {
    font-family: 'Poppins-Bold', sans-serif;
    font-weight: 700;
}

%rubik-700px {
    font-family: 'Rubik-bold', sans-serif;
    font-weight: 700;
}

%rubik-500px {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%rubik-400px {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%rubik-300px {
    font-family: 'Rubik-Light', sans-serif;
    font-weight: 300;
}

%btn {
    background-color: #a3bbc8;
    display: flex;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    border: none;
    @extend %rubik-500px;
}

%title {
    font-size: 36px;
    color: #191919;
}

%checkbox-hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}

// Clamps a block of text to a certain number of lines,
// followed by an ellipsis in Webkit and Blink based browsers
// Reference: http://dropshado.ws/post/1015351370/webkit-line-clamp
@mixin text-clamp($lines: 2, $line-height: false) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    // Fallback for non-Webkit browsers
    // (won't show `…` at the end of the block)
    @if $line-height {
        max-height: $line-height * $lines * 1px;
    }
}