$ac: #fcd7b6;

/*accent*/

$default: #243f4d;
$title: #436372;
%dmsans-700px {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}

%dmsans-500px {
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}


/*@extend %rubik-400px*/

%dmsans-400px {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}

%poppins-700px {
    font-family: 'Poppins-Bold', sans-serif;
    font-weight: 700;
}

%rubik-500px {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%rubik-400px {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%rubik-300px {
    font-family: 'Rubik-Light', sans-serif;
    font-weight: 300;
}

%btn {
    background-color: #a3bbc8;
    display: flex;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    @extend %rubik-500px;
}

%title {
    padding-top: 70px;
    font-size: 36px;
    color: #191919;
    margin-bottom: 30px;
}

%checkbox-hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}